In [9]:
import cv2
import numpy as np
import os
import csv
import numpy as np
import pandas as pd

In [2]:
label_file =  "../dataset/2/data3D.csv"

In [3]:
def csv_reader_jarvis3d(file_name, num_keypoints):
    """
    Return keypoints as numpy array [frames, num_keypoints, 3]
    """
    all_keypoints = []
    with open(file_name) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        line_count = 0
        for row in csv_reader:
            if line_count == 0 or line_count == 1:
                #print(f'{", ".join(row)}')
                line_count += 1
            else:
                keypoints = [float(x) for x in row]
                keypoints = np.asarray(keypoints)
                keypoints = keypoints.reshape([num_keypoints, 4])[:,:4]
                #keypoints = np.delete(keypoints,site_index_to_delete,0)
                all_keypoints.append(keypoints)
                line_count += 1
    all_keypoints = np.asarray(all_keypoints)
    return all_keypoints

keypoints = csv_reader_jarvis3d(label_file, 20)

In [4]:
good_frames = []
for i in range(keypoints.shape[0]):
    frame_data = keypoints[i]
    if frame_data[:,3].mean() > 0.7 and frame_data[:,2].mean() < 500:
        good_frames.append(i)

In [5]:
len(good_frames)

64654

In [6]:
def split_consecutive_above_threshold(nums, threshold):
    if not nums:
        return []
    
    nums = sorted(nums)  # Sort the array if not already sorted
    result = []
    current_group = [nums[0]]

    for i in range(1, len(nums)):
        if nums[i] == nums[i - 1] + 1:
            # If the current number is consecutive, add it to the current group
            current_group.append(nums[i])
        else:
            # If the group is larger than the threshold, store it
            if len(current_group) > threshold:
                result.append(current_group)
            # Start a new group
            current_group = [nums[i]]
    
    # Don't forget to check and add the last group if it meets the threshold
    if len(current_group) > threshold:
        result.append(current_group)
    
    return result

In [16]:
result = split_consecutive_above_threshold(good_frames, 150)

In [25]:
result_array = []
i=0
for r in result:
    result_array.append([len(r),r[0], r[-1]])
    i+=1
df = pd.DataFrame(result_array, columns=[ 'length', 'start', 'end'])
df

    length   start     end
0     2539    9266   11804
1      579   11890   12468
2      596   12611   13206
3      334   14144   14477
4      272   15018   15289
5      226   15336   15561
6     5234   16668   21901
7     1312   22223   23534
8      383   23536   23918
9      560   33325   33884
10     859   34695   35553
11     196   36259   36454
12     456   36548   37003
13    2628   40269   42896
14    1971   43644   45614
15     220   45616   45835
16    3951   45856   49806
17     566   49836   50401
18     176   50484   50659
19     806   50661   51466
20     399   55129   55527
21    2231   55802   58032
22    3707   63078   66784
23     680   69489   70168
24     822   70170   70991
25     568   71586   72153
26     590   72614   73203
27     160   73205   73364
28     496   73591   74086
29     860   80581   81440
30     890   86288   87177
31    1817   87314   89130
32     690   89181   89870
33     661   89872   90532
34    1820   90926   92745
35     325   93311   93635
36    3460  104784  108243
37    2194  108245  110438
38    1978  112944  114921
39    1422  114930  116351
40     568  117345  117912
41     854  117994  118847
42     252  119273  119524
43     252  119638  119889
44     885  126362  127246
45     673  131315  131987
46     157  132018  132174
47    5417  135898  141314
48     708  143776  144483
49     255  146546  146800
50     839  146808  147646
51     936  152229  153164